<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rest API</title>
</head>
<body>
  <h1>Welcome to Flask</h1>
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <label for="uploadedFile">Foto de la equimosis</label>
    <input type="file" name="uploadedFile" id="uploadedFile"/>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>